<!-- Sidebar Navigation -->
<nav class="sidebar">
    <div class="sidebar-header">
        <div class="logo">
            <img src="assets/images/Logo.svg" alt="orb-Ed" class="logo-img">
        </div>
    </div>
    <ul class="sidebar-menu">
        <li class="menu-item" 
            [class.active]="activeMenuItem === 'dashboard'"
            (click)="setActiveMenuItem('dashboard')">
            <a href="#" class="menu-link">
                <i class="ic-6"></i>
            </a>
        </li>
        <li class="menu-item"
            [class.active]="activeMenuItem === 'users'"
            (click)="setActiveMenuItem('users')">
            <a href="#" class="menu-link">
                <i class="ic-16"></i>
            </a>
        </li>
        <li class="menu-item"
            *ngIf="canViewTenants()"
            [class.active]="activeMenuItem === 'tenants'"
            (click)="setActiveMenuItem('tenants')">
            <a routerLink="/private/reports/tenants" class="menu-link">
                <i class="ic-17"></i>
            </a>
        </li>
        <li class="menu-item"
            [class.active]="activeMenuItem === 'courses'"
            (click)="setActiveMenuItem('courses')">
            <a href="#" class="menu-link">
                <i class="ic-7"></i>
            </a>
        </li>
        <li class="menu-item"
            *ngIf="canViewStudents()"
            [class.active]="activeMenuItem === 'students'"
            (click)="setActiveMenuItem('students')">
            <a routerLink="/private/reports/students" class="menu-link">
                <i class="ic-3"></i>
            </a>
        </li>
        <li class="menu-item"
            [class.active]="activeMenuItem === 'analytics'"
            (click)="setActiveMenuItem('analytics')">
            <a href="#" class="menu-link">
                <i class="ic-9"></i>
            </a>
        </li>
        <li class="menu-item"
            [class.active]="activeMenuItem === 'assignments'"
            (click)="setActiveMenuItem('assignments')">
            <a href="#" class="menu-link">
                <i class="ic-12"></i>
            </a>
        </li>
        <li class="menu-item"
            [class.active]="activeMenuItem === 'settings'"
            (click)="setActiveMenuItem('settings')">
            <a href="#" class="menu-link">
                <i class="ic-8"></i>
            </a>
        </li>
    </ul>
</nav>
